{% load static %}
    <section id="contact" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Entre em contato</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.3s">
          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="contact-block">
              <form id="contato" method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required data-error="Favor informar seu nome">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" placeholder="E-mail" id="email" class="form-control" name="email" required data-error="Favor informar seu e-mail">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                   <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" placeholder="Assunto" id="assunto" name="assunto" class="form-control" required data-error="Favor informar o assunto">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" id="mensagem" placeholder="Sua Mensagem" name="mensagem" rows="7" data-error="Escreva sua mensagem" required></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="submit-button text-left">
                      <button class="btn btn-common" id="form-submit" type="submit">Enviar mensagem</button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-xs-12">
            <div class="map">
              <object style="border:0; height: 280px; width: 100%;" data="<div style="width: 700px;position: relative;"><iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Av.%20Comendador%20Enzo%20Ferrari%2C%20280%20-%20Swift%2C%20Campinas%20-%20SP%2C%2013045-770%2C%20Brazil+(T%C3%ADtulo)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/en/">Googlemapsgenerator.com/en/</a> & <a href="https://kasinoutanlicens.nu/">Casino utan licens</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />></object>
            </div>
          </div>
        </div>
      </div>
    </section>