{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Início da Área Apresentação-->
            {% include 'apresentacao.html' %}
      <!-- Fim da Área Apresentação -->

    <!-- Início da Seção Serviços -->
            {% include 'servicos.html' %}
    <!-- Fim da Seção Serviços -->

    <!-- Início da Seção Sobre -->
            {% include 'sobre.html' %}
    <!-- Fim da Seção Sobre -->

    <!-- Início da Seção Recursos -->
            {% include 'recursos.html' %}
    <!-- Fim da Seção Recursos -->

    <!-- Início da Seção Equipe -->
            {% include 'equipe.html' %}
    <!-- Fim da Seção Equipe -->

    <!-- Início da Seção Preços -->
            {% include 'precos.html' %}
    <!-- Table Fim da Seção  -->

    <!-- Início da Seção Clientes -->
            {% include 'clientes.html' %}
    <!-- Fim da Seção Clientes -->

    <!-- Início da Seção Chamada -->
            {% include 'chamada.html' %}
    <!-- Início da Seção Chamada -->

    <!-- Início da Seção Contato -->
            {% include 'contato.html' %}
    <!-- Fim da Seção Contato -->

    <!-- Início da Seção Rodapé -->
            {% include 'rodape.html' %}
    <!-- Fim da Seção Rodapé -->
  {% endblock %}
