{% load static %}
    <div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">Gerencie os dados</p>
                  <h2 class="section-title">Estatísticas detalhadas de sua empresa</h2>
                </div>
                <div class="content">
                  <p>A Fusion tem ferramentas feitas sob medida para data mining e big data. Informação é poder. Colete dados de suas aplicações na nuvem. Personalize sua estratégia. Crie, modifique e se antecipe às tendências com o uso combinado de IA e análise de dados. Molde sua estratégia de forma eficiente e eficaz para alcançar novos clientes.</p>
                  <a href="#" class="btn btn-common mt-3">Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static '/img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>